{{> menu active="dashboard"}}
<section class="section">
	<div class="title is-3">Add a new Placemark</div>
	<form action="/dashboard/addplacemark" method="POST">
		<div class="field">
			<label class="label" for="name">Placemark name</label>
			<input id="name" class="input" type="text"
						 value="{{placemark.name}}"
						 name="name">
			<label class="label" for="category">Category</label>
			<div class="control">
				<input id="category" class="input" list="category-list" name="categoryName"
							 placeholder="Select or type to create a category" required>
				<datalist id="category-list">
					{{#each categories}}
					<option value="{{name}}">
					{{/each}}
				</datalist>
			</div>
			<label class="label" for="description">Description</label>
			<input id="description" class="input" type="text" value="{{placemark.description}}"
						 name="description">
			<label class="label" for="longitude">Longitude</label>
			<input id="longitude" class="input" type="text" value="{{placemark.longitude}}" name="longitude">
			<label class="label" for="latitude">Latitude</label>
			<input id="latitude" class="input" type="text" value="{{placemark.latitude}}" name="latitude">
		</div>
		<button class="button is-link">Add placemark</button>
	</form>
</section>
