{{> menu}}
<section class="section">
  <div class="title is-3">Edit Placemark</div>
  <form action="/placemark/update/{{placemark._id}}" method="POST">
    <div class="field">
      <label class="label">Placemark name</label> <input class="input" type="text" value="{{placemark.name}}" name="name">
      <label class="label">Category</label> <input class="input" type="text" value="{{placemark.category}}" name="category">
      <label class="label">Description</label> <input class="input" type="text" value="{{placemark.description}}" name="description">
      <label class="label">Longitude</label> <input class="input" type="text" value="{{placemark.longitude}}" name="longitude">
      <label class="label">Latitude</label> <input class="input" type="text" value="{{placemark.latitude}}" name="latitude">
    </div>
    <button class="button is-link">Update placemark</button>
  </form>
</section>

