{{> menu}}
<section class="section">
	<div class="title is-3">Edit Placemark</div>
	<form action="/placemark/update/{{placemark._id}}" method="POST">
		<div class="field">
			<label class="label">Placemark name</label> <input class="input" type="text" value="{{placemark.name}}"
										 name="name">
			<label class="label">Category</label>
			<div class="control">
				<div class="select">
					<select id="category-select" name="category">
						<option value="">Select a category</option>
						{{#if categories}}
							{{#each categories}}
								<option value="{{_id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
							{{/each}}
						{{else}}
							<option value="{{placemark.categoryId}}" selected>{{placemark.categoryName}}</option>
						{{/if}}
					</select>
				</div>
			</div>

			<label class="label">Description</label> <input class="input" type="text" value="{{placemark.description}}"
												name="description">
			<label class="label">Longitude</label> <input class="input" type="text" value="{{placemark.longitude}}"
												name="longitude">
			<label class="label">Latitude</label> <input class="input" type="text" value="{{placemark.latitude}}"
												 name="latitude">
		</div>
		<button class="button is-link">Update placemark</button>
	</form>
</section>

