{{> menu}}

<div class="box box-link-hover-shadow">
    <h1 class="title is-4">
        <strong> Placemark Name: {{placemark.name}} </strong>
    </h1>
    <div class="content">
        <p><strong>Category:</strong> {{placemark.category}}</p>
        <p><strong>Description:</strong> {{placemark.description}}</p>
        <p><strong>Latitude:</strong> {{placemark.latitude}}</p>
        <p><strong>Longitude:</strong> {{placemark.longitude}}</p>
    </div>
</div>

